body {
    font-family: 'Roboto', Helvetica, Arial;
}

.discussion-text {
    border-bottom: solid 1px #FEB40A;
    padding-bottom: 0;
}

.container {
    width: 1024px;
}


.bodyWrap {
    background-image: url("images/background-all.jpg");
    padding-top: 28px;
    height: 670px;
}

.forum {
    border-bottom: solid #212837;
    width: 924px;
    margin: 0 auto;
    font-weight: bold;
}

.colContent {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 2fr 1fr;
    /* width: 924px; */
}

.leftCol {
    padding: 35px 0 35px 30px;
}

.inputDiscussion {
    width: 500px;
    height: 40px;
}

.postBlock {
    display: flex;
}

.searchBarMain {
    display: flex;
    justify-content: center;
    width: 240px;
    /* align-items: center; */
}

.goBut {
    margin-left: 10px;
    background-color: #FEB40A;
    border: none;
    color: white;
    font-size: .9rem;
    padding: .2rem .18rem;
    width: 60px;
    box-shadow: rgb(196, 196, 196) 7px 7px 7px;
}

#postBut {
    margin-left: 10px;
    background-color: #FEB40A;
    border: none;
    color: white;
    font-size: .9rem;
    padding: .55rem .18rem;
    width: 60px;
    box-shadow: rgb(196, 196, 196) 7px 7px 7px;
}

#postBut:hover {
    background-color: #ffd27c;
    color: #c4bfbf;
}

#postBut:active {
    outline: none;
    background-color: #c4bfbf;
    color: gray;
}

#searchBar {
    background-image: url(images/magnify.png);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 137px;
    background-color: white;
    border: none;
    width: 168px;
    box-shadow: rgb(196, 196, 196) 7px 7px 7px;
}

::placeholder {
    color: #212837;
    padding-left: 20px;
}

.textRight {
    display: grid;
    align-items: center;
    /* width: 240px; */
    height: 257px;
    background-color: white;
    box-shadow: rgb(196, 196, 196) 7px 7px 7px;
}

.rightCol {
    display: grid;
    grid-template-rows: 77px 40px auto 183px;
    margin: 0 auto;
}

.pagination .active .page-link {
    background-color: #FEB40A;
}

.pagination .page-link {
    color: black;
}

.previousNext {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.textRight p {
    line-height: 70%;
    margin-left: 30px;
}

.rightAvatarDiv {
    text-align: center;
}

.rightAvatar {
    width: 50px;
    border-radius: 50%;
    /* margin-top: 10px; */
}

.textRight #contribution {
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
}

.discussionUser {
    border: solid 1px gray;
    border-radius: 3px;
    padding: 6px;
    margin-bottom: 10px;
}

.discussionAvatar {
    width: 60px;
    border-radius: 50%;
}

#saySome {
    font-weight: bold;
}

.discussion {
    align-items: center;
    margin-top: 20px;
}

.discussionTitle {
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: -5px;
}

.discussionMainText {
    font-size: 0.8rem;
}

.textBlock {
    margin-left: 10px;
}

.discussionLine {
    display: flex;
    align-items: flex-end;
    /* outline: solid rgb(170, 170, 170) 2px; */
}

hr {
    border: solid rgb(170, 170, 170) 1px;
}

.footer {
    margin-top: -15px;
}

/* MEDIA QUERY */

@media only screen and (max-width: 1200px) {
    .rightCol {
        margin-left: 20px;
    }

    .leftCol {
        width: 600px;
    }

    .inputDiscussion {
        width: 400px;
    }
}

@media only screen and (max-width: 991px) {
    .leftCol {
        width: auto;
        padding-top: 0;
    }

    .colContent {
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .previousNext {
        height: 100px;
    }

    .colContent .rightCol {
        grid-area: 1 / 1 / 2 / 2;
        grid-template-rows: 25px 40px auto 100px;
        align-content: start;
    }

    .colContent .leftCol {
        grid-area: 2 / 1 / 3 / 2;
    }

    /* .leftCol {
        padding-left: 0 15px;
    } */

    hr {
        width: 90%;
        position: relative;
        right: 10px;
    }

    .discussionUser {
        width: 580px;
    }

    .rightCol {
        margin: 0;
        width: fit-content;
        margin: auto;
    }

    .forum {
        width: auto;
    }

    .bodyWrap {
        width: auto;
        background-color: #F2F2F2;
        background-repeat: no-repeat;
        height: 100%;
    }

    .container {
        height: 100% !important;
    }
}

@media only screen and (max-width: 768px) {
    .leftCol {
        width: 400px;
        margin: auto;
    }

    .inputDiscussion {
        width: auto;
    }

    .discussionUser {
        width: 350px;
    }
}

@media only screen and (max-width: 577px) {
    .container {
        width: auto;
    }
}